@model BigViewModel

<!-- ***** Special Area Start ***** -->
<section class="special-area section_padding_150" style="margin-bottom:50px !important; box-shadow:none !important;">
    <div class="container" style="max-width:1366px !important;">

        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-3">
                <div class="single-special text-center">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:10px; border-radius:15px; border:2px double #fff; width:100%;">
                        <img src="/User/img/back_index_01_01.jpg" style="width:100%; height:100%; border-radius:12px;" />
                    </div>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-6">
                <div class="single-special text-center">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:10px; border-radius:15px; border:2px double #fff; width:100%;">
                        <img src="/User/img/back_index_01_02.jpg" style="width:100%; height:100%; border-radius:12px;" />
                    </div>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-3">
                <div class="single-special text-center">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:10px; border-radius:15px; border:2px double #fff; width:100%;">
                        <img src="/User/img/back_index_01_03.jpg" style="width:100%; height:100%; border-radius:12px;" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-12">
                <div class="single-special text-center">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:10px; border-radius:15px; border:2px double #fff; width:100%;">


                        @*<img src="~/User/img/back_index_02.jpg" />*@
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <!-- Slide One - Set the background image for this slide in the line below -->
                                <div class="carousel-item active" style="background-image: url('/User/slide/lam_ngoc.jpg')">
                                    <div class="carousel-caption d-none d-md-block" style="background:rgba(117, 117, 117, 0.50); border-radius:10px;">
                                        <h3 style="color:#ffd800;">Lâm Ngọc Đại Vương</h3>
                                        <p style="color:#ffffff; font-size:18px; font-weight:700;">Quân Đội Talus</p>
                                    </div>
                                </div>
                                <!-- Slide Two - Set the background image for this slide in the line below -->
                                <div class="carousel-item" style="background-image: url('/User/slide/nhen_chua.jpg')">
                                    <div class="carousel-caption d-none d-md-block" style="background:rgba(117, 117, 117, 0.50); border-radius:10px;">
                                        <h3 style="color:#ffd800;">Nhện Chúa Dokumo</h3>
                                        <p style="color:#ffffff; font-size:18px; font-weight:700;">Nhện Chúa</p>
                                    </div>
                                </div>
                                <!-- Slide Three - Set the background image for this slide in the line below -->
                                <div class="carousel-item" style="background-image: url('/User/slide/vong_quay.jpg')">
                                    <div class="carousel-caption d-none d-md-block" style="background:rgba(117, 117, 117, 0.50); border-radius:10px;">
                                        <h3 style="color:#ffd800;">Vòng Quay</h3>
                                        <p style="color:#ffffff; font-size:18px; font-weight:700;">Linh Vật</p>
                                    </div>
                                </div>
                                <!-- Slide Four - Set the background image for this slide in the line below -->
                                <div class="carousel-item" style="background-image: url('/User/slide/phong_dang.jpg')">
                                    <div class="carousel-caption d-none d-md-block" style="background:rgba(117, 117, 117, 0.50); border-radius:10px;">
                                        <h3 style="color:#ffd800;">Thủ Lĩnh Phong Đăng</h3>
                                        <p style="color:#ffffff; font-size:18px; font-weight:700;">Tộc Phong Đăng</p>
                                    </div>
                                </div>
                                <!-- Slide Five - Set the background image for this slide in the line below -->
                                <div class="carousel-item" style="background-image: url('/User/slide/vua_khi.jpg')">
                                    <div class="carousel-caption d-none d-md-block" style="background:rgba(117, 117, 117, 0.50); border-radius:10px;">
                                        <h3 style="color:#ffd800;">Vua Khỉ Ogong</h3>
                                        <p style="color:#ffffff; font-size:18px; font-weight:700;">Thần Hầu Nhân</p>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <!-- Tin Tức Chung -->
            <div class="col-12 col-md-8">
                <div class="single-special">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:6px; border-radius:15px; border:2px double #fff; width:100%; height:405px;">
                        <div style="background:url('/User/img/menu-noel.png'); height:50px; border-top-left-radius:6px; border-top-right-radius:6px; box-shadow: 0 14px 6px -2px rgba(0, 0, 0, 0.2);">
                            <div class="text-center" style="color:#ffd800; line-height:48px; font-size:24px;">Tin Tức Sự Kiện</div>
                            <div style="padding:10px; background:#fff; border-bottom-left-radius:5px; border-bottom-right-radius:5px; height:333px;">
                                @foreach (TblNews n in Model.News.Take(5))
                                {
                                <div style="margin-bottom:10px;">
                                    <div style="width:100px; display:inline-block; line-height:50px; vertical-align:top; margin-right:10px; margin-left:10px;">
                                        <img src="@n.ImageSrc" style="width:100%; border:2px solid #bdbdbd;" />
                                    </div>
                                    <div style="line-height:24px; display:inline-block; width:80%;">
                                        <div style="display:block; font-weight:700; font-size:16px; margin-bottom:5px; color:#a70000;">@n.Title</div>
                                        <div style="display:block; font-size:14px; color:#ff6a00;">@n.Subject</div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Đại Gia -->
            <div class="col-12 col-md-4">
                <div class="single-special">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:10px; border-radius:15px; border:2px double #fff; width:100%; height:405px;">
                        <div style="background:url('/User/img/menu-noel.png'); height:50px; border-top-left-radius:6px; border-top-right-radius:6px; box-shadow: 0 14px 6px -2px rgba(0, 0, 0, 0.2);">
                            <div class="text-center" style="color:#ffd800; line-height:48px; font-size:24px;">Top VIP</div>
                            <div style="padding:10px; background:#fff; border-bottom-left-radius:5px; border-bottom-right-radius:5px; height:333px;">

                                <div style="background:#fff;">
                                    <div style="width:160px; display:inline-block; line-height:24px; vertical-align:top; margin-right:10px; margin-left:32px;">
                                        <img src="/User/rank/crown1.png" />
                                    </div>
                                    <div style="line-height:63px; display:inline-block;">
                                        <div style="display:block; font-size:16px; font-weight:700; color:#a70000;">@Model.Users[0].InGame</div>
                                        @*<div style="color:#ff6a00; font-size:14px;">@Model.Users[0].MyGolds.ToString("n0")</div>*@
                                    </div>
                                </div>

                                <div style="background:#fff;">
                                    <div style="width:160px; display:inline-block; line-height:24px; vertical-align:top; margin-right:10px; margin-left:32px;">
                                        <img src="/User/rank/crown2.png" />
                                    </div>
                                    <div style="line-height:63px; display:inline-block;">
                                        <div style="display:block; font-size:16px; font-weight:700; color:#a70000;">@Model.Users[1].InGame</div>
                                        @*<div style="color:#ff6a00; font-size:14px;">@Model.Users[1].MyGolds.ToString("n0")</div>*@
                                    </div>
                                </div>

                                <div style="background:#fff;">
                                    <div style="width:160px; display:inline-block; line-height:24px; vertical-align:top; margin-right:10px; margin-left:32px;">
                                        <img src="/User/rank/crown3.png" />
                                    </div>
                                    <div style="line-height:63px; display:inline-block;">
                                        <div style="display:block; font-size:16px; font-weight:700; color:#a70000;">@Model.Users[2].InGame</div>
                                        @*<div style="color:#ff6a00; font-size:14px;">@Model.Users[2].MyGolds.ToString("n0")</div>*@
                                    </div>
                                </div>

                                <div style="background:#fff;">
                                    <div style="width:160px; display:inline-block; line-height:24px; vertical-align:top; margin-right:10px; margin-left:32px;">
                                        <img src="/User/rank/crown4.png" />
                                    </div>
                                    <div style="line-height:63px; display:inline-block;">
                                        <div style="display:block; font-size:16px; font-weight:700; color:#a70000;">@Model.Users[3].InGame</div>
                                        @*<div style="color:#ff6a00; font-size:14px;">@Model.Users[3].MyGolds.ToString("n0")</div>*@
                                    </div>
                                </div>

                                <div style="background:#fff;">
                                    <div style="width:160px; display:inline-block; line-height:24px; vertical-align:top; margin-right:10px; margin-left:32px;">
                                        <img src="/User/rank/crown5.png" />
                                    </div>
                                    <div style="line-height:63px; display:inline-block;">
                                        <div style="display:block; font-size:16px; font-weight:700; color:#a70000;">@Model.Users[4].InGame</div>
                                        @*<div style="color:#ff6a00; font-size:14px;">@Model.Users[4].MyGolds.ToString("n0")</div>*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</section>
<!-- ***** Special Area End ***** -->
