@model CartIndexViewModel

<!-- ***** Special Area Start ***** -->
<section class="special-area bg-aqua section_padding_150" style="background:#fff !important;" id="cart">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="section-heading text-center">
                    <h2>Your Cart - Giỏ Hàng Của Bạn</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-12">


                @if (Model.Cart.Lines.Count() > 0)
                {

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Item</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Subtotal</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var line in Model.Cart.Lines)
                            {
                                <tr>
                                    <td class="text-center" style="width:60px;">@line.Quality</td>
                                    <td class="text-left">@line.Product.Name</td>
                                    <td class="text-right">@line.Product.Price.ToString("c")</td>
                                    <td class="text-right">
                                        @((line.Quality * line.Product.Price).ToString("c"))
                                    </td>
                                    <td class="text-center" style="width:80px;">
                                        <form asp-action="RemoveFromCart" method="post">
                                            <input type="hidden" name="ProductID" value="@line.Product.ProductID" />
                                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                                            <button type="submit" class="btn btn-sm btn-danger" style="cursor:pointer;">
                                                <i class="glyphicon glyphicon-trash"></i> Remove
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-right">Total:</td>
                                <td class="text-right">
                                    @Model.Cart.ComputeTotalValue().ToString("c")
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="text-center">
                        <a class="btn btn-lg btn-info" href="@Model.ReturnUrl">Continue Shopping</a>
                        <a class="btn btn-lg btn-success" asp-action="Checkout" asp-controller="Order">Checkout</a>
                    </div>

                }
                else
                {
                    <div class="text-center">
                        <a class="btn btn-lg btn-primary" style="font-size:18px; color:#ffd800; padding:12px 25px;" href="@Model.ReturnUrl">Continue Shopping</a>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- Special Description Area -->
    
</section>
<!-- ***** Special Area End ***** -->

