@model ResetVipViewModel

@{
    Layout = "_AdminLayoutLTE";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Reset Cấp Độ VIP
        <small>cho phép reset cấp độ thành viên theo ngày</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Reset cấp độ VIP</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <div class="box box-danger bg-white">
                @if (TempData["message"] != null)
                {
                    if (TempData["type"].ToString().Equals("OK"))
                    {
                        <div class="alert alert-success alert-dismissible" style="width:99%; margin:0 auto;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-check"></i> Thao tác thành công!</h4>
                            @TempData["message"]
                        </div>
                    }
                    else if (TempData["type"].ToString().Equals("NG"))
                    {
                        <div class="alert alert-danger alert-dismissible" style="width:99%; margin:0 auto;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-warning"></i> Thao tác không thành công!</h4>
                            @TempData["message"]
                        </div>
                    }
                }
                <!-- /.box-header -->
                <div class="box-body">
                    <button type="button" id="btnResetVip24h"
                            onclick="return DoReset();"
                            class="btn btn-lg btn-danger"
                            style="padding:10px 25px !important; font-size:20px; line-height:36px;">
                        <i class="glyphicon glyphicon-refresh"></i> Reset Cấp Độ Thành Viên
                    </button>

                    <!-- /.modal -->
                    <div class="modal modal-info fade" id="modal-reset-XXXXXX">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title-importgold">Reset Cấp Độ Thành Viên</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="modal_confirm_import_gold_title" style="display:block; margin-bottom:5px;">Bạn chắc chắn Reset?</div>
                                </div>
                                <div class="modal-footer">
                                    <button id="btn_Cancel_Reset" type="button" class="btn btn-outline pull-left" data-dismiss="modal">Bỏ qua</button>
                                    <button id="btn_frmResetVip" type="button" class="btn btn-outline" onclick="myFunction(this);">Reset</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh sách VIP</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tblListOfVipMembers" class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th>Cấp độ</th>
                                <th>Số lượng</th>
                                <th>Danh sách thành viên</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (RoleUsersCollection col in Model.Collections)
                            {
                                <tr>
                                    <td><img src="@col.RoleAvatar" width="64" /></td>
                                    <td>@col.RoleMemberCount</td>
                                    <td>@col.RoleMemeberList</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->

@section Scripts_AdminLTE_ResetVipAccount {
    <script>
        $(function () {
        });

        function DoReset() {

            if (confirm('Chắc chắn reset luôn?') == false) {
                return false;
            }

            $.ajax({
                type: "POST",
                headers: {
                    "RequestVerificationToken": tokenKey
                },
                url: "/AdminLTE/ResetVipAccountsJson",
                dataType: "json",
                success: function (data) {
                    //alert(JSON.stringify(data));
                    if (data.returnType == "OK") {
                        connection.invoke('refreshviplist', 0);
                    }
                    alert(data.returnMessage);
                },
                failure: function (data) {
                    alert(JSON.stringify(data));
                },
                error: function (data) {
                    alert(JSON.stringify(data));
                }
            });

            return true;
        }
    </script>
}