@inject UserManager<AppUser> userManager
@inject RoleManager<IdentityRole> roleManager
@inject IAspNetRolesExtend repoRoleExtend
@inject IGoldTransactionRepository tranRepository
@inject IAccountGeneral accGeneralRepository
@model AppUser

@{
    Layout = "_AdminLayoutLTE";
    AppUser _CURRENT_USER = await userManager.FindByIdAsync(Model.Id);
    List<AspNetRolesExtend> _LST_ROLE_EXTEND = new List<AspNetRolesExtend>();
    IList<string> roleNames = await userManager.GetRolesAsync(_CURRENT_USER);
    IdentityRole rTemp = null;
    AspNetRolesExtend eTemp = null;
    foreach (string rName in roleNames)
    {
        rTemp = await roleManager.FindByNameAsync(rName);
        eTemp = repoRoleExtend.RoleExtends.FirstOrDefault(r => r.RoleId == rTemp.Id);
        if (eTemp != null)
        {
            _LST_ROLE_EXTEND.Add(eTemp);
        }
    }

    int TotalWin = tranRepository.Transactions.Where(t => t.UserID == _CURRENT_USER.Id && t.IsWIN).Count();

    long TotalImportedGold = accGeneralRepository.Generals.Where(g => g.UserID == _CURRENT_USER.Id && g.GeneralType.Equals("NAP_GOLD") && g.GeneralStatus == 2).Sum(g => g.GeneralGold);
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thông tin cá nhân
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Thông tin cá nhân</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="@System.IO.Path.Combine(System.IO.Directory.GetCurrentDirectory(), "wwwroot", Model.Avatar)" alt="@Model.FullName">
                    <h3 class="profile-username text-center">@Model.InGame</h3>
                    <p class="text-muted text-center">[@Model.GameServerName]</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Số Gold</b> <a class="pull-right">@Model.MyGolds.ToString("n0")</a>
                        </li>
                        <li class="list-group-item">
                            <b>Số lần Win</b> <a class="pull-right">@TotalWin.ToString("n0")</a>
                        </li>
                        <li class="list-group-item">
                            <b>Tổng số Gold đã nạp</b> <a class="pull-right">@TotalImportedGold.ToString("n0")</a>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cấp Độ</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @foreach (AspNetRolesExtend role in _LST_ROLE_EXTEND)
                        {
                            <div style="display:inline-block; margin-bottom:15px; font-weight:700; width:130px; text-align:center;">
                                <div style="margin-bottom:15px;"><i class="fa fa-user-secret margin-r-5"></i> @role.Remark</div>
                                <img src="@role.RoleImg" />
                            </div>
                        }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#settings" data-toggle="tab">Thiết lập thông tin</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="settings">
                        <form asp-action="UserProfile" asp-controller="AdminLTE" enctype="multipart/form-data" class="form-horizontal" method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="UserName" />
                                <label class="col-sm-2 control-label">Tên hiển thị</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="FullName" class="form-control" placeholder="Tên hiển thị" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Avatar" class="col-sm-2 control-label">Avatar</label>
                                <div class="col-sm-10">
                                    <img class="img-responsive img-circle" src="@Model.Avatar" width="48" />
                                    @if (User.IsInRole("SuperAdmins") || User.IsInRole("Admins") || User.IsInRole("Moderators"))
                                    {
                                        <input type="file" name="file">
                                        <input type="hidden" asp-for="Avatar" />
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tên trong Game</label>
                                <div class="col-sm-10">
                                    @if (User.IsInRole("SuperAdmins") || User.IsInRole("Admins"))
                                    {
                                        <input asp-for="InGame" type="text" class="form-control" placeholder="Tên trong Game" />
                                    }
                                    else
                                    {
                                        <label class="form-control" style="background:#b6ff00;">@Model.InGame</label>
                                    }
                                </div>
                            </div>
                            @if (User.IsInRole("SuperAdmins") || User.IsInRole("Admins"))
                            {
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Màu tên hiển thị</label>
                                    <div class="col-sm-10">
                                        <div class="input-group my-title-color">
                                            <input asp-for="TitleColor" type="text" class="form-control" />
                                            <div class="input-group-addon">
                                                <i></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label asp-for="GameServerID" class="col-sm-2 control-label">Server Game</label>
                                <div class="col-sm-10">
                                    <select id="select_server" asp-for="GameServerID" class="form-control">
                                        <option disabled selected value="0">Lựa chọn server game</option>
                                        <option value="1">Đại Mạc</option>
                                        <option value="2">Thiên Đỉnh</option>
                                        <option value="3">Núi Sương Bạc</option>
                                        <option value="4">Biển Lục Nam</option>
                                        <option value="5">Đồng Thủy Nguyệt</option>
                                        <option value="6">Trường Hồng Môn</option>
                                    </select>
                                    <input id="server_name" type="hidden" asp-for="GameServerName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                                </div>
                            </div>
                            @if (User.IsInRole("SuperAdmins") || User.IsInRole("Admins"))
                            {
                                <div class="form-group">
                                    <label asp-for="DateOfBirth" class="col-sm-2 control-label">Date Of Birth</label>
                                    <div class="col-sm-10">
                                        <input asp-for="DateOfBirth" type="date" class="form-control" />
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Cập nhật</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


@section Scripts_UserProfile {
    <script>
        $(function () {
            $('.my-title-color').colorpicker();

            $("#select_server").change(function () {
                $("#server_name").val($(this).find("option:selected").text());
                //$("#server_name").val($(this).find("option:selected").attr("value"));
            });
        })
    </script>
}
